body {
  margin: 0;
  background: #2B2B2B !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  --bs-gutter-x: 0rem !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.navigationBar {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  background-color: rgb(100, 90, 138);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: violet !important;
  border-color: violet !important;
}

.nav-tabs {
  --bs-nav-tabs-border-color: rgb(100, 90, 138) !important;

}

.nav-link {
  color:white !important;
}

.nav-link:hover {
	-webkit-animation: text-shadow-pop-br 0.3s both !important;
	        animation: text-shadow-pop-br 0.3s both !important;
}

@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 0.2px 0.2px #362e55, 0.5px 0.5px #362e55, 1px 1px #362e55, 1.5px 1.5px #362e55, 2px 2px #362e55, 2.4px 2.4px #362e55, 2.8px 2.8px #362e55, 3px 3px #362e55;
    -webkit-transform: translateX(-3px) translateY(-3px);
            transform: translateX(-3px) translateY(-3px);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55, 0 0 #362e55;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 0.2px 0.2px #362e55, 0.5px 0.5px #362e55, 1px 1px #362e55, 1.5px 1.5px #362e55, 2px 2px #362e55, 2.4px 2.4px #362e55, 2.8px 2.8px #362e55, 3px 3px #362e55;
    -webkit-transform: translateX(-3px) translateY(-3px);
            transform: translateX(-3px) translateY(-3px);
  }
}


.nav-item {
  color: white;
}

.nav-tabs .nav-link {
  border: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.dropdown {
  display: none;
}


.headerComponent {
  position: relative;
  background-image: linear-gradient(90deg, rgb(105, 192, 241), rgb(252, 132, 212));
  height: 300px;
  min-height: 300px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.headerComponent h1 {
  margin-top: 50px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.headerComponent h2 {
  opacity: 80%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.headerComponent a {
  display: inline-block;
  margin: 0 15px;
  padding: 5px;
  border-radius: 10%;
  color: #fff;
  background-color: rgb(100, 90, 138);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  font-weight: bold;
}

.headerComponent a:hover {
  color: #fff;
  -webkit-animation: text-shadow-pop-br 0.3s both !important;
  animation: text-shadow-pop-br 0.3s both !important;
  
}

@media screen and (max-width: 1199px) {
  .profilePicture {
    display: none;
  }
  .col-md-2 {
    width: 0% !important;
  }
  .row {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .testClass {
    text-align: center;
  }
  .testClass2 {
    display: inline-block;
    text-align: left;
  }
  .contactDetails h2 {
    border-top: 0.1rem solid gray;
    padding-top: 0.5rem;
  }
  .navigationBar {
    display: none;
  }
  .dropdown {
    display: inline-block;
    margin: 0 auto !important;
    z-index: 100 !important;
    position: fixed !important;
    top: 1rem !important;
    right: 1rem !important;
  }
  .dropdown .btn-secondary {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  }
  .dropdown .btn {
    font-size: 2rem;
    background-color: rgb(100, 90, 138) !important;
    border: none !important;
  }
  .btn.show:focus {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8) !important;
  }
  .btn-check:focus, .btn:focus {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8) !important;
  }
  .dropdown-menu {
    background-color: rgb(70, 61, 109) !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8) !important;
  }
  .dropdown-menu a {
    color: white !important;
  }
  .dropdown-item {
    font-weight: bold !important;
    font-size: larger !important;
  }
}


.aboutPage {
  background: #2B2B2B;
  color: white;
  padding-bottom: 5rem;
  margin-top: 50%;
  overflow: hidden;
  position: relative;
}

.resumeButton {
  display: inline-block;
  padding: 15px;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgb(100, 90, 138);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

.resumeButton:hover {
  color: #fff;
  background-color: rgb(66, 55, 109);
}

.profilePicture {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 5px solid violet;
  margin-left: 5%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}


.projectItem-bg {
  /* max-width: 350px;
  max-height: 197px;
  min-width: 350px;
  min-height: 197px; */
  width: 80%;
  height: auto;
  border: 5px solid violet;
  border-radius: 1rem;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  margin:0em;
}

.projectTitle {
  width: 100%;
  text-align: center;
}


.projectTitle a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  display: inline-block;
}


.projectTitle p {
  color: white;
}

.projectText {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.projectText:hover {
  color: violet;
}

.githubText {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgb(100, 90, 138);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  padding-bottom: 0.5rem;
}

.githubText:hover {
  color: #fff;
  background-color: rgb(66, 55, 109);
}

/* 
.projectTitle {
  transition: .5s ease;
  opacity: 0;
  position:relative;
  top: -30%;
  left: 36%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  max-width: 350px;
  max-height: 197px;
}

.project:hover .projectItem-bg {
  opacity: 0.3;
}

.project:hover .projectTitle {
  opacity: 1;
}
*/

.contactTitle {
  color: white;
}

.contactContainer {
  background: rgb(100, 90, 138); 
	border-radius: 1rem;
	padding: 10px;
	max-width: 40rem;
	margin: auto;
}

#contact-form {
  margin: 1.5rem;
}

#contact-form label {
  color: white;
}

#contact-form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(66, 55, 109);
  color: white;
}

#contact-form input:focus {
  background-color: rgb(50, 40, 87);
  outline: 0.2rem solid rgb(84, 71, 133);
}

#contact-form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(66, 55, 109);
  resize: vertical; 
  min-height: 11rem;
  max-height: 11rem;
  color: white;
}

#contact-form textarea:focus {
  background-color: rgb(50, 40, 87);
  outline: 0.2rem solid rgb(84, 71, 133);
}

#contact-form .submitContainer {
  margin-top: 1rem;
  text-align: center;
}

#contact-form .submitButton {
  background-color: violet;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 0.5rem;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  margin-bottom: -1rem;
}

#contact-form .submitButton:hover {
  background-color: rgb(192, 91, 192);
}


.resumePage {
  background: #2B2B2B;
  color: white;
  padding-bottom: 5rem;
  margin-top: 50%;
  overflow: hidden;

}

.resumePage .row {
  justify-content: center;
  padding-top: 1.5rem;
  border-bottom: 0.1rem solid gray;
}

.resumePage .top-border {
  border-top: 0.1rem solid gray;
}

.resumePage .resumePageDescriptions {
  padding-left: 5rem;
  width: 70%;
}

.noUnderline {
  border-bottom: 0px solid transparent !important;
  padding-top: 0rem !important;
  margin-bottom: 1.5rem;
}

footer {
  border-top: 0.2rem solid white;
  height: 2.5rem;
  bottom: 0px;
  width: 100%;
  background-color: #2B2B2B;
  margin-top: auto;
  margin-bottom: 2.8rem;
}

footer a {
  color: white;
  opacity: 0.5;
  margin: 10px 20px;
  transition: all 0.4s ease-in-out;
  font-size: 3rem;
}

footer a:hover {
  opacity: 1;
  color: white;
}

.fullPortfolio {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
